{% extends 'base.html.twig' %}

{% block title %} {% endblock %}

{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>  {{ products.name }}</h1>
            </div>
            <div class="col-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-indicators">
                        {% for iteration in 1..products.images|length %}
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ iteration - 1 }}" {{ (loop.first ) ?'class="active" aria-current="true"' : '' }} aria-label="Slide {{ iteration }}"></button>
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for image in products.images %}
                            <div class="carousel-item {{ (loop.first ) ? 'active' : '' }}">
                            <img src="{{ asset('assets/uploads/Products/mini/300x300-') ~  image.name }}" class="d-block w-100" alt="{{ image.name }}">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </button>
                </div>
            </div>
            <div class="col-6">
                <p>{{ products.description }}</p>
                <p> categories {{ products.categories.name}}</p>
                <p> prix {{ products.price / 100 }} €</p>
                {% if products.stock > 0 %}
                    <a href="#" class="btn btn-success">Ajouter au Panier</a>
                {%  else %}
                    <p class="text-danger"> temporairement en rupture de stocks</p>
                {% endif %}
            </div>
        </section>
    </main>



{% endblock %}
